.main {
    padding: 0 50px;
    display: flex;
}


.left {
    margin: 100px 0;
    width: 50vw;
}

.right {
    width: 50vw
}

h1 {
    color: white;
    font-weight: bold;
}

p {
    color: white;
    font-weight: bold;
    margin: 30px 0;
}

.copyIcon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    color: white;
}

.icon :hover {
    color: rgb(12, 10, 134);
    cursor: pointer;
}

span {
    color: rgb(30, 139, 212);
}

.image {
    width: 50vw;
}