.main{
    margin: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top{
    display: flex;
    gap: 80px ;
}

.bottom{
    margin-bottom: 100px;
}

.box{
    text-align: center;
    margin-top: 80px;
}
h3{
    color: white;
}